<ul>
  <li>
    <div class="home">
      <a href="index.php#home" class="button">
        <i class="fa-solid fa-house"></i>
        <span>HOME</span>
      </a>
    </div>
  </li>
  <li>
    <div class="service">
      <a href="index.php#service" class="button">
        <i class="fa-solid fa-bell-concierge"></i>
        <span>SERVICE</span>
      </a>
    </div>
  </li>
  <li>
    <div class="about__us">
      <a href="index.php#about" class="button">
        <i class="fa-solid fa-people-roof"></i>
        <span>ABOUT</span>
      </a>
    </div>
  </li>
  <li>
    <div class="contact">
      <a href="index.php#contact" class="button">
        <i class="fa-solid fa-phone-volume"></i>
        <span>CONTACT</span>
      </a>
    </div>
  </li>
</ul>
