.button {
  transition: transform 0.3s ease;
}

.button:hover {
  transform: scale(1.1) translateY(-2px);
  text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
  color: var(--hover-text-color);
}

.button::after {
  content: "";
  display: block;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: var(--hover-text-color);
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.5s;
}

.button:hover::after {
  transform: scaleX(1);
}

.focused {
  background-color: var(--search-bar-background-color) !important;
  border-style: ridge;
  border-width: 0.1em;
  border-color: var(--blue-text-color);
}

.hidden {
  display: none;
}

.menu__hidden {
  transform: translateX(100%);
}

.shrunken {
  width: 0 !important;
}

.search__bar form input {
  transition: 0.5s;
}
