.button {
  transition: transform 0.3s ease;
}

.button:hover {
  transform: scale(1.1) translateY(-2px);
  text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
  color: var(--hover-text-color);
}

.focused {
  background-color: var(--search-bar-background-color) !important;
  border-style: ridge;
  border-width: 0.1em;
  border-color: var(--blue-text-color);
}

.hidden {
  display: none;
}
