/* buttons */

.simple__button,
.button {
  display: inline-block;
  color: var(--default-text-color);
  text-decoration: none;
  font-family: var(--default-font-family);
  font-size: 1.2em;
}

.small {
  font-size: 1em;
}

.gray {
  color: var(--gray-text-color);
}

.selected {
  border-style: ridge;
  border-bottom-width: 2px;
  border-color: white;
  background-image: linear-gradient(
    to top,
    rgb(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0)
  );
  padding-bottom: 0.1em;
}

.solid__button {
  background-color: var(--header-background-color);
  padding: 0.5em 3em 0.5em 3em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s;
}

.solid__button:hover {
  transform: scale(1.1);
}

.solid__button i,
.solid__button span {
  color: var(--default-text-color);
}

.solid__button span {
  font-family: var(--default-font-family);
  margin: 0 0.5em 0 0.5em;
}

.reverse {
  background-color: var(--default-text-color);
}

.reverse i,
.reverse span {
  color: var(--header-background-color);
}

/* Input box */

.input__box {
  position: relative;
  margin: 0.8em 0 0.8em 0;
  width: -webkit-fill-available;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6em;
  border-style: solid;
  border-radius: 100em;
  border-width: 2px;
  border-color: var(--default-text-color);
  color: var(--default-text-color);
  background-color: var(--header-background-color);
  cursor: pointer;
}

.input__box > input {
  border: none;
  outline: none;
  background-color: var(--header-background-color);
  color: var(--default-text-color);
  width: -webkit-fill-available;
  cursor: pointer;
}

.input__box > input:focus ~ label {
  transform: translateY(-100%) scale(0.8);
}

.input__box > label {
  position: absolute;
  left: 1em;
  padding: 5px;
  border-radius: 100em;
  background-color: var(--header-background-color);
  transition: 0.5s;
  cursor: pointer;
}

.input__box > i {
  margin: 0 5px 0 5px;
}

/* logo */

.logo {
  height: 100%;
  text-decoration: none;
}

.logo img {
  width: auto;
  height: 100%;
}

/* carousel */

.carousel {
  position: relative;
  overflow: hidden;
  height: 50dvh;
}

.carousel > input {
  display: none;
}

.carousel > #radio2:checked ~ .slides {
  transform: translateX(-25%);
}

.carousel > #radio3:checked ~ .slides {
  transform: translateX(-50%);
}

.carousel > #radio4:checked ~ .slides {
  transform: translateX(-75%);
}

.carousel > .slides {
  position: relative;
  width: 400%;
  height: 100%;
  display: flex;
  transition: 1s;
}

.carousel > .slides > .slide {
  position: relative;
  width: calc(25% - 10em);
  height: calc(100% - 10em);
  display: flex;
  align-items: center;
  padding: 5em;
  color: var(--default-text-color);
  font-family: var(--title-font-family);
}

.carousel > .nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel > .nav > .points {
  display: flex;
  align-items: end;
  height: 100%;
  margin-bottom: 3em;
}

.carousel > .nav > .points > label {
  position: relative;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-radius: 100em;
  border-width: 3px;
  border-color: var(--default-text-color);
  cursor: pointer;
  transition: 0.5s;
}

.carousel > .nav > .points > label:not(:last-child) {
  margin-right: 2em;
}

.carousel > .nav > .points > label:hover {
  background-color: var(--hover-text-color);
  border-color: var(--hover-text-color);
}

.carousel > #radio1:checked ~ .nav > .points > label:nth-child(1),
.carousel > #radio2:checked ~ .nav > .points > label:nth-child(2),
.carousel > #radio3:checked ~ .nav > .points > label:nth-child(3),
.carousel > #radio4:checked ~ .nav > .points > label:nth-child(4) {
  background-color: var(--hover-text-color);
}

.carousel > .nav > .solid__button {
  padding: 3em 0.5em 3em 0.5em;
  height: 1em;
}

.carousel > .nav > .left {
  margin-left: 1em;
}

.carousel > .nav > .right {
  margin-right: 1em;
}

.carousel .wide {
  width: 85%;
}

.carousel .high {
  height: 90%;
}
