/* header */

.header__container {
  position: relative;
  height: 3em;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--header-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

/* logo */

.logo {
  height: 3em;
}

.logo img {
  width: auto;
  height: 100%;
}

/* nav */

.nav__container,
.nav__container ul,
.account__container {
  display: flex;
  align-items: center;
}

.nav__container ul li {
  margin-right: 2em;
}

.nav__container ul li div {
  color: black;
}

/* search bar */

.search__bar,
.mobile__buttons {
  background-color: var(--search-bar-background-color);
  color: var(--default-text-color);
  padding: 0.5em;
  border-radius: 100em;
  font-size: 1.2em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search__bar form {
  margin: 0.1em;
}

.search__bar form input {
  border: none;
  background-color: var(--search-bar-background-color);
  color: var(--default-text-color);
  outline: none;
  font-size: 1.2em;
  width: 15em;
}

/* account */

.account__container div {
  margin-right: 1em;
}

/* menu */

.menu__container {
  position: fixed;
  background-color: var(--header-background-color);
  height: 100%;
  width: 15em;
  top: 0;
  right: 0;
  padding-top: 5em;
}

.menu__container ul,
.menu__container .account__container {
  display: block;
  margin: 0.5em;
}

.menu__container a {
  margin: 0.5em;
}

.mobile__buttons {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 1000;
  background-color: var(--header-background-color);
  padding: 0;
}

.mobile__buttons button {
  padding: 0.5em;
}

.mobile__buttons .search__bar {
  background-color: transparent;
}

/* main */

main {
  color: black;
  font-size: 50px;
}

/* footer */

.footer__container {
  position: relative;
  height: 10em;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--header-background-color);
  display: flex;
  padding: 1em;
}
