body {
  color: white;
}

.body__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* header */

.header__container {
  position: relative;
  height: 3em;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--header-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

/* nav */

.nav__container,
.nav__container ul,
.account__container {
  display: flex;
  align-items: center;
}

.nav__container ul li {
  margin-right: 2em;
}

.nav__container ul li div {
  color: black;
}

/* search bar */

.search__bar,
.mobile__buttons {
  z-index: 1000;
  background-color: var(--search-bar-background-color);
  color: var(--default-text-color);
  padding: 0.5em;
  border-radius: 100em;
  font-size: 1.2em;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.search__bar form {
  margin: 0.1em;
}

.search__bar form input {
  border: none;
  background-color: var(--search-bar-background-color);
  color: var(--default-text-color);
  outline: none;
  font-size: 1.2em;
  width: 15em;
}

/* account */

.account__container div {
  margin-right: 1em;
}

/* menu */

.menu__container {
  position: fixed;
  background-color: var(--header-background-color);
  height: 100%;
  width: 15em;
  top: 0;
  right: 0;
  padding-top: 5em;
  transition: 0.5s;
  z-index: 999;
}

.menu__container ul,
.menu__container .account__container {
  display: block;
  margin: 0.5em;
}

.menu__container a {
  margin: 0.5em;
}

.mobile__buttons {
  position: fixed;
  top: 1em;
  right: 1em;
  background-color: var(--header-background-color);
  padding: 0;
}

.mobile__buttons button {
  padding: 0.5em;
}

.mobile__buttons .search__bar {
  background-color: transparent;
}

/* main */

html {
  overflow-x: hidden;
  overflow-y: auto;
}

.greeting,
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--default-text-color);
  font-family: var(--title-font-family);
}

.greeting {
  background-image: url("../assets/images/greeting-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100dvw;
  height: calc(100dvh - 5em);
}

.search {
  background-color: var(--home-background-color);
  padding: 5dvh 5% 0 5%;
}

.greeting > h1 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 35vh;
  margin-bottom: 0.5em;
}

.greeting > h1,
.greeting > h2 {
  text-shadow: 6px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.search > h1 {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

.search > h2 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.search > p,
.carousel > .slides > .slide > p {
  text-shadow: 6px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 25px;
  margin: 2em;
}

.catalog {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2em;
}

.catalog h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  margin-bottom: 1em;
  font-size: 70px;
  font-weight: bold;
}

.catalog p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  opacity: 0.3;
  font-size: 25px;
  font-weight: bold;
  width: 90dvw;
}

/* searched__article */

a {
  text-decoration: none;
}

.searched__article {
  background-color: var(--search-bar-background-color);
  padding: 1em;
  margin: 1em 15dvw;
  border-style: ridge;
  border-radius: 1em;
  color: white;
}

.searched__article h1 {
  font-size: 1.5em;
}

.searched__article h2,
.searched__article span,
.article > h2,
.article > .dates > span {
  margin: 0.5em;
  color: var(--gray-text-color);
}

.dates {
  display: flex;
  flex-wrap: wrap;
}

.alert {
  font-size: 3em;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

/* article */

.article {
  background-color: var(--search-bar-background-color);
  padding: 1em;
  margin: 1em 5dvw;
  border-style: ridge;
  border-radius: 1em;
  color: white;
}

.article > h1 {
  font-size: 3em;
}

.article > .content {
  background-color: var(--home-background-color);
  padding: 1em;
  margin: 1em 1dvw;
  border-style: ridge;
  border-radius: 1em;
}

/* footer */

.footer__container {
  background-color: var(--header-background-color);
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.footer__container h2 {
  color: var(--default-text-color);
  opacity: 0.3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 5em 0 5em 0;
  text-align: center;
}
