@media screen and (max-width: 1600px) {
  .greeting > h1 {
    margin: 25vh 10% 0.5em 10%;
  }

  .greeting > h2 {
    margin: 0 20% 0 20%;
  }
}

@media screen and (max-width: 1200px) {
  .header__container .button span {
    display: none;
  }
}

@media screen and (max-width: 1500px) and (min-width: 1200px),
  screen and (max-width: 1000px) {
  .hover {
    position: fixed;
    top: 5em;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 650px) {
  .greeting > h1 {
    font-size: 35px;
  }
  .greeting > h2 {
    font-size: 15px;
  }
  .search__bar form input {
    width: 60dvw;
  }
  .account__container,
  .nav__container {
    flex-direction: column;
    align-items: normal;
  }
  .search > h1 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
  }
  .search > h2 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  .search > p,
  .carousel > .slides > .slide > p {
    text-shadow: 6px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 15px;
    margin: 2em;
  }
  .catalog h1 {
    font-size: 25px;
  }
  .catalog p {
    font-size: 15px;
  }
}
