@media screen and (max-width: 1200px) {
    .button span {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .focused {
        position: fixed;
        top: 5.5em;
        left: 20%;
        right: 20%;
    }
    .search__bar form, .search__bar form input {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .button i, .account__container, .nav__container ul {
        display: none;
    }
    .menu__button {
        display: block;
    }
}