@media screen and (max-width: 1200px) {
  .header__container .button span {
    display: none;
  }
}

@media screen and (max-width: 1500px) and (min-width: 1200px),
  screen and (max-width: 1000px) {
  .hover {
    position: fixed;
    top: 5em;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 650px) {
  .search__bar form input {
    width: 60dvw;
  }
  .account__container,
  .nav__container {
    flex-direction: column;
    align-items: normal;
  }
}
