.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2em;
  padding: 0 15% 0 15%;
  margin-top: 15dvh;
}

.catalog > .title > h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 2em;
  margin-bottom: 1em;
}

.catalog > p {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  opacity: 0.3;
}

.catalog > .button > i {
  color: white;
  cursor: pointer;
}

.button {
  width: 70px;
  height: 70px;
  color: #333;
  font-size: 35px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  transform: scale(1.2);
}

.footer__container {
  position: relative;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.footer__container h2 {
  color: white;
  opacity: 0.3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 5em 0 5em 0;
  text-align: center;
}
